@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --main-color: #ff7330;
  --black-color: #000000;
  --border: 0.1rem solid rgba(255, 255, 255, 0.4);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s ease;
}

/*! base html codes*/
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 8px;
  background-color: white;
}

html::-webkit-scrollbar-thumb {
  border-radius: 3rem;
  background-color: var(--black-color);
}

html::-webkit-scrollbar-track {
  width: 8px;
  background-color: transparent;
}

body {
  background-color: var(--main-color);
}

section {
  padding: 3.5rem 7%;
}

.btn {
  height: 50px;
  width: 50%;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  letter-spacing: 0.6px;
  color: #ccc;
  background-color: var(--black-color);
}

.btn:hover{
background-color: #444444;


}

/* Header start*/
.header .logo img {
  height: 10rem;
}

.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
  margin: 2rem 7%;
  border-radius: 30rem;
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: var(--black-color);
  border-bottom: 0.1rem solid transparent;
}

.header .navbar .active,
.header .navbar a:hover {
  border-color: var(--main-color);
  padding-bottom: 0.5rem;
}

.header .buttons button {
  cursor: pointer;
  font-size: 25px;
  margin-left: 20px;
  background-color: transparent;
}

#menu-btn {
  display: none;
}

/* Header end*/

/* Home Start*/
.home {
  min-height: 100vh;
  background: url(../saat\ kulesi\ main.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -14.5rem;
  display: flex;
  align-items: center;
}

.home .content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30rem;
  background: transparent;
  padding: 40px;
  margin: auto;
  margin-top: 10%;
  border-radius: 50px;
}

.form {
  padding: 20px 30px;
  background-color: #8f8f8fcc;
  border: 1px solid #41414190;
  border-radius: 6px;
  box-shadow: -1px 1px 8px #41414150;
}

.form h2 {
  font-size: 24px;
  color: white;
  text-align: center;
  margin-bottom: 18px;
  line-height: 2;
  border-bottom: 1px solid #41414150;
}

.form label {
  font-size: 16px;
  color: #fff;
}

.form input {
  width: 400px;
  font-size: 18px;
  padding: 2px solid #272727;
  border: none;
  outline: none;
  border-radius: 4px;
  letter-spacing: 0.7px;
  margin-bottom: 10px;
  color: #272727;
}

.form input:focus {
  border: 2px solid #ff7330;
}

.form textarea {
  max-width: 400px;
  width: 100%;
  max-height: 200px;
  font-size: 18px;
  padding: 2px solid #272727;
  border: none;
  outline: none;
  border-radius: 4px;
  margin-bottom: 10px;
  color: #272727;
}








/* Home end*/

/* Responsive Start*/
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  .header .logo img {
    height: 7rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 95%;
    background-color: #fff;
    height: calc(100vh - 9rem);
    width: 30rem;
    box-shadow: 0px 20px 14px 0px rgb(0 0 0 / 75%);
    right: -100%;
  }

  .header .navbar.active {
    right: 3rem;
  }

  .header .navbar a {
    color: var(--black-color);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 50%;
  }

  .header #menu-btn {
    display: inline-block;
  }
}

/* Responsive End*/
