@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --main-color: #ff7330;
  --black-color: #000000;
  --border: 0.1rem solid rgba(255, 255, 255, 0.4);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s ease;
}

/*! base html codes*/
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 8px;
  background-color: white;
}

html::-webkit-scrollbar-thumb {
  border-radius: 3rem;
  background-color: var(--black-color);
}

html::-webkit-scrollbar-track {
  width: 8px;
  background-color: transparent;
}

body {
  background-color: var(--main-color);
}

section {
  padding: 3.5rem 7%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 2rem 3rem;
  border-radius: 30rem;
  font-size: 1.8rem;
  color: #ccc;
  background-color: var(--black-color);
}

/* Header start*/
.header .logo img {
  height: 10rem;
}

.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
  margin: 2rem 7%;
  border-radius: 30rem;
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: var(--black-color);
  border-bottom: 0.1rem solid transparent;
}

.header .navbar .active,
.header .navbar a:hover {
  border-color: var(--main-color);
  padding-bottom: 0.5rem;
}

.header .buttons button {
  cursor: pointer;
  font-size: 25px;
  margin-left: 20px;
  background-color: transparent;
}

#menu-btn {
  display: none;
}

/* Header end*/

/* Home Start*/
.home {
  min-height: 100vh;
  background: url(../saat\ kulesi\ main.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -14.5rem;
  display: flex;
  align-items: center;
}

.home .content {
  min-width: 60rem;
  background: #232323cc;
  padding: 40px;
  margin: auto;
  margin-top: 10%;
  border-radius: 50px;
}

.home .content h3 {
  font-size: 6rem;
  font-weight: 300;
  color: #fff;
}

.home .content p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
  padding: 1rem 0;
  color: #ffffff;
}
.home .content img {
  width: 800px;
  height: 500px;
  transition: 0.5s;
  cursor: pointer;
}

.home .content img:hover {
  transform: scale(0.9);
}

.home .content ul {
  margin: 0;
  padding: 0;
}

.home .content li {
  display: inline-block;
  margin: 6px;
  list-style: none;
}

.home .content li a {
  color: white;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}

.home .content li a:hover {
  color: #b9b9b9;
}

/* Home end*/

/* Responsive Start*/
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  .header .logo img {
    height: 7rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 95%;
    background-color: #fff;
    height: calc(100vh - 9rem);
    width: 30rem;
    box-shadow: 0px 20px 14px 0px rgb(0 0 0 / 75%);
    right: -100%;
  }

  .header .navbar.active {
    right: 3rem;
  }

  .header .navbar a {
    color: var(--black-color);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 50%;
  }

  .header #menu-btn {
    display: inline-block;
  }
}

/* Responsive End*/
