@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --main-color: #00ddff;
  --black-color: #000000;
  --border: 0.1rem solid rgba(255, 255, 255, 0.4);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s ease;
}

/*! base html codes*/
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 8px;
  background-color: white;
}

html::-webkit-scrollbar-thumb {
  border-radius: 3rem;
  background-color: var(--black-color);
}

html::-webkit-scrollbar-track {
  width: 8px;
  background-color: transparent;
}

body {
  background-color: var(--main-color);
}

section {
  padding: 3.5rem 7%;
}

/* Header start*/
.header .logo img {
  height: 10rem;
}

.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
  margin: 2rem 7%;
  border-radius: 30rem;
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: var(--black-color);
  border-bottom: 0.1rem solid transparent;
}

.header .navbar .active,
.header .navbar a:hover {
  border-color: var(--main-color);
  padding-bottom: 0.5rem;
}

.header .buttons button {
  cursor: pointer;
  font-size: 25px;
  margin-left: 20px;
  background-color: transparent;
}

#menu-btn {
  display: none;
}

/* Header end*/

/* Home Start*/
.home {
  min-height: 1000px;
  background: url(../saat\ kulesi\ main.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -14.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: #d0d0d0aa;
  border-radius: 50px;
  display: grid;
  margin-top: 100px;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 35px rgba(0, 0, 0, 0.1);
}

.container .left-side {
  position: relative;
  background-color: #b33f01;
  padding: 40px;
}

.profile-text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profile-text .imgBx {
  position: relative;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.profile-text .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-text h2 {
  color: #fff;
  font-size: 24px;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}

.contactInfo h3 {
    font-size: 16px;
}
.contactInfo.education h3 {
    font-size: 16px;
}


.contactInfo {
  padding-top: 40px;
}

.title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.contactInfo ul {
  position: relative;
}

.contactInfo ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.contactInfo ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #ff7300;
}

.contactInfo ul li span {
  color: #fff;
  font-weight: 300;
}

.contactInfo.education li {
  margin-bottom: 15px;
}

.contactInfo.education h5 {
  font-size: 16px;
  color: #ff7300;
  font-weight: 500;
}

.contactInfo.education h4:nth-child(2) {
  color: #fff;
  font-weight: 500;
}

.contactInfo.education h4 {
  font-size: 12px;
  color: #fff;
  font-weight: 300;
}

.contactInfo.language .percent {
position: relative;
width: 100%;
height: 6px;
background: #081921;
display: block;
margin-top: 5px;
}

.contactInfo.language .percent div{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #ff7300;
}



.container .right-side {
  position: relative;
  background-color: #fff;
  padding: 40px;
}

.about{
  margin-bottom: 50px;

}

.about:last-child{
  margin-bottom: 0;
}

.title2{
  color: #ff7300;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

p{
color: #333;
font-size: 12px;
text-align: justify;
}

.about .box{
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.about .box h3{
  min-width: 150px;
  text-transform:capitalize;
  color: #848c90;
  font-weight: 600;
}

.about .box li{
text-transform: capitalize;
color: #b33f01;
font-size: 10px;
}

.skills .box{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}

.skills .box h4{
  text-transform: capitalize;
  color: #848c90;
  font-weight: 500;

}
.skills .box .percent{
  position: relative;
  width: 100%;
  height: 10px;
  background: #000;
}
.skills .box .percent div{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #ff7300;
}

.interests ul{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.interests ul li{
  list-style: none;
  color: #000;
  font-weight: 500;
  margin: 10px 0;
}

.interests ul li .fa-solid{
  color: #ff7300;
  font-size: 18px;
}

/* Home end*/

/* Responsive Start*/
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  .header .logo img {
    height: 7rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 95%;
    background-color: #fff;
    height: calc(100vh - 9rem);
    width: 30rem;
    box-shadow: 0px 20px 14px 0px rgb(0 0 0 / 75%);
    right: -100%;
  }

  .header .navbar.active {
    right: 3rem;
  }

  .header .navbar a {
    color: var(--black-color);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 50%;
  }

  .header #menu-btn {
    display: inline-block;
  }
}

/* Responsive End*/
